@use "../var";

.statsWrapper {
    width: 100%;
    .stats-container {
        width: var.$primary-container;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: row nowrap;

        .stats-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 0 0 50%;
            text-align: center;

            .stats-number {
                width: 50%;
                border: 2px dashed var.$primary-yellow;
                border-radius: 10px 10px 0 0;
                padding: 30px;

                font-size: var.$font-size-l3;
                color: var.$primary-yellow;
            }
            .stats-title {
                width: 50%;
                border: 2px solid var.$primary-yellow;
                border-radius: 0 0 10px 10px;
                background-color: var.$primary-yellow;
                padding: 30px;

                font-size: var.$font-size-l1;
                color: var.$font-grey;
            }
        }
    }
}
