@use "../var";

.testimonialVWrapper {
    width: 100%;
    // background-color: aquamarine;

    .testimonialV-container {
        width: var.$primary-container;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .content-block {
            width: max-content;
            max-width: 100%;
            padding-top: 80px;
            overflow-y: auto;
            margin: 0 auto;

            display: flex;
            flex-wrap: nowrap;
            // justify-content: center;
            align-items: stretch;
            gap: 20px;

            .content {
                // display: inline-block;
                // aspect-ratio: 3 / 4;
                // width: max-content;
                height: 500px;
                flex: 0 0 max-content;
                border: 2px dashed var.$bg-grey;
                padding: 6px;
                background-color: #fff;
                
                // position: relative;

                // @media only screen and (max-width: 480px) {
                //     aspect-ratio: 4 / 6;
                // }

                // &::before {
                //     content: "";
                //     // content: url("../media/logo192.png");
                //     // transform: scale(0.2);
                //     background-color: var.$primary-yellow;
                //     background-image: url("../media/qoutes.png");
                //     background-size: cover;
                //     position: absolute;
                //     // display: block; /* Or relative, depending on your layout */
                //     top: -25px;
                //     left: 25px;
                //     width: 50px;
                //     height: 50px;
                //     z-index: 9;
                // }

                img {
                    margin-top: 15px;
                    width: 100%;
                    height: auto;
                    // height: 100%;
                    object-fit: cover;

                    // &:hover {
                    //     transform: scale(1.1);
                    // }
                }
            }
        }
    }

    .new-container {
        width: var.$primary-container;
        margin: 0 auto;
        text-align: right;
        margin-top: 30px;
        @media only screen and (max-width: 768px) {
            text-align: center;
        }
        a {
            text-decoration: none;
            color: var.$primary-yellow;
            font-size: var.$font-size-l1;
            font-weight: var.$font-w600;
            text-decoration: underline;
        }
    }
}
