@use "../var";

.franchiseWrapper {
    .content-img {
        width: 100%;
        height: 600px;
        // overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            // transform: translate(75%);

            // @media only screen and (max-width: 1200px) {
            //     transform: translate(50%);
            // }
            // @media only screen and (max-width: 992px) {
            //     transform: translate(30%);
            // }
            // @media only screen and (max-width: 768px) {
            //     transform: translate(0%);
            // }
            // @media only screen and (max-width: 480px) {
            //     transform: translate(-10%);
            // }
            // @media only screen and (max-width: 320px) {
            //     transform: translate(-30%);
            // }
        }
    }
    .franchise-container {
        margin-top: -80px;
        position: relative;
        background-color: #fff;
        border-radius: 24px;
        padding: 40px;
        outline: 2px dashed var.$primary-blue;
        outline-offset: -15px;

        font-size: 18px;
        letter-spacing: 0.5px;

        @media only screen and (max-width: 480px) {
            outline-offset: 0;
            outline: none;
            padding: 20px;
        }

        p {
            color: var.$font-grey;
            display: flex;
            align-items: stretch;
            gap: 20px;
            margin: 0;

            &::before {
                content: "";
                display: inline-block;
                width: 10px;
                flex: 0 0 5px;
                // height: 40px;
                background-color: var.$bg-part-grey;
                // margin-right: 20px;
            }

            // @media only screen and (max-width: 480px) {
            //     font-size: 14px !important;
            // }
        }

        h5 {
            font-size: var.$font-size-l3;
            color: var.$primary-blue;
            font-weight: var.$font-w600;
            margin: 0;
        }

        .franchise-intro {
            display: flex;
            flex-direction: column;
            // align-items: center;
            gap: 10px;
            // text-align: center;

            // .video{}

            .video-caption {
                text-align: center;
                font-size: var.$font-size-l1;
                color: var.$font-grey;
                margin: 28px 0 0 0;
                @media only screen and (max-width: 768px) {
                    margin: 28px 20px 0;
                }
            }
        }

        .reason-block {
            display: flex;
            flex-direction: column;
            gap: 12px;
            .reason-point {
                display: flex;
                flex-direction: column;
                gap: 8px;
                p {
                    &:nth-child(1) {
                        font-size: 20px;
                        color: var.$primary-yellow;
                        font-weight: var.$font-w500;
                    }
                    &:nth-child(2) {
                        padding-left: 40px;
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }

        .franchise-form-block {
            background-color: #fff;
            border-radius: 24px;
            // padding: 40px;
            // outline: 2px dashed var.$primary-blue;
            // outline-offset: -15px;

            display: flex;
            flex-flow: row nowrap;
            gap: 15px;

            @media only screen and (max-width: 768px) {
                flex-flow: column nowrap;
            }
            .form-img {
                flex: 0 0 45%;
                display: grid;
                place-content: center;

                @media only screen and (max-width: 768px) {
                    display: none;
                }
                img {
                    width: 100%;
                }
            }
            .form {
                flex: 1 0 auto;
            }
        }
    }
    .franchiseFormWrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.9);
        // opacity: 0.5;
        z-index: 999;
        cursor: not-allowed;
        // pointer-events: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        .form-box {
            width: 35%;
            height: max-content;
            max-height: 95vh;
            overflow-x: auto;
            background-color: #fff;
            padding: 18px;
            border-radius: 10px;
            cursor: initial;

            @media only screen and (max-width: 992px) {
                width: 60%;
            }
            @media only screen and (max-width: 550px) {
                width: 90%;
            }
            @media only screen and (max-width: 350px) {
                width: 100%;
            }
        }
    }
}

// .video {
//     width: 70%;
//     // max-height: calc(400px + 12px);
//     margin: 12px auto;
//     outline: 2px dashed var.$primary-blue;
//     border-radius: 20px;
//     outline-offset: 10px;
//     margin-top: 30px;

//     @media only screen and (max-width: 992px) {
//         width: 75%;
//     }
//     @media only screen and (max-width: 768px) {
//         outline-offset: 6px;
//         width: 80%;
//     }
//     @media only screen and (max-width: 480px) {
//         outline-offset: 0;
//         outline: none;
//     }
//     video {
//         width: 100%;
//         height: 100%;
//         border-radius: 20px;
//         object-fit: cover;
//     }
// }
